*,

@font-face {
    font-family: "Kablammo"; /* Гарнитура шрифта */
    src: url(fonts/Kablammo-Regular-VariableFont_MORF.ttf); /* Путь к файлу со шрифтом */
    font-style: normal;
}


.kablammo-funcode {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

.oswald-funcode {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.londrina-sketch-regular {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
	color: #FFFFFFFF;
	text-align: center;
	text-shadow: black 2px 4px 10px;
	font-size: 70px;
}

body {
	color: black;
	align-items: left;
	margin: 10px;
}

table {
	table-layout: fixed;
    width:100%;
	margin: 5px;
}

td {
	font-family: sans-serif;
	word-wrap:break-word;
	text-align: center;
	padding: 5px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-shadow: black 2px 4px 10px;
}

h2 {
	font-family: sans-serif;
	margin-left: 50px;
	font-weight: bold;
	font-size: 30px;
	text-shadow: black 2px 4px 10px;
}

button {
	text-align: center;
	text-decoration: none;
	color: white;
	width: 150px;
	height: 150px;
	border-radius: 50px;
	user-select: none;
	font-family: "Oswald", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
  	font-size: 50px;
}

button:hover {
    background-color: #ddd;
}

.mb0{
	background-color: #f19abd;
}

.mb1{
	background-color: #da251e;
}

.mb2{
	background-color: #8e5446;
}

.mb3{
	background-color: #f28101;
}

.mb4{
	background-color: #fef600;
}

.mb5{
	background-color: #86c127;
}

.mb6{
	background-color: #76c5f0;
}

.mb7{
	background-color: #27176f;
}

.mb8{
	background-color: #660099;
}

.mb9{
	background-color: #000000;
}

.h_button{
	float: right; /* блок занимает ширину содержимого, max-width её ограничивает */
    max-width: 8em;
    min-height: 2em;
	background-color: grey;
	border-color: darkgray;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 20px;
	font-style: bold;
	border-width: 5px;
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 1033 px){
	#header{
		margin-left: 0;
	}
	#container{
		margin-left: 0; 
	}
	#footer{
		margin-left: 0;
	}
}


/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

