*,
@font-face {
    font-family: Mama Regular; /* Гарнитура шрифта */
    src: url(fonts/MamaRegular.ttf); /* Путь к файлу со шрифтом */
    font-style: normal;
}

@font-face {
    font-family: Coiny 2.0; /* Гарнитура шрифта */
    src: url(fonts/Coiny2.0.ttf); /* Путь к файлу со шрифтом */
    font-style: normal;
}

h1 {
	color: #9932CC;
	text-align: center;
	text-shadow: 2px 4px 10px;
}

h2 {
	margin-left: 50px;
	font-weight: bold;
	text-shadow: white 2px 4px 15px;
}

.mb0{
	background-color: goldenrod;
	border-color: darkgoldenrod;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb1{
	background-color: Crimson;
	border-color: DarkRed;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb2{
	background-color: Coral;
	border-color: OrangeRed;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb3{
	background-color: Gold;
	border-color: DarkKhaki;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb4{
	background-color: LimeGreen;
	border-color: DarkGreen;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb5{
	background-color: DarkTurquoise;
	border-color: SteelBlue;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb6{
	background-color: MediumBlue;
	border-color: MidnightBlue;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb7{
	background-color: DarkViolet;
	border-color: Indigo;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb8{
	background-color: SandyBrown;
	border-color: Maroon;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.h_button{
	float: right; /* блок занимает ширину содержимого, max-width её ограничивает */
    max-width: 8em;
    min-height: 2em;
	background-color: grey;
	border-color: darkgray;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 20px;
	font-style: bold;
	border-width: 5px;
	width: 50px;
	height: 50px;
}

body {
	color: black;
	align-items: left;
	margin: 10px;
}

table {
	table-layout: fixed;
    width:100%;
	margin: 5px;
}

td {
	word-wrap:break-word;
	text-align: center;
	padding: 5px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-shadow: black 2px 4px 10px;
}

@media screen and (max-width: 1033 px){
	#header{
		margin-left: 0;
	}
	#container{
		margin-left: 0; 
	}
	#footer{
		margin-left: 0;
	}
}