*,
@font-face {
    font-family: Mama Regular; /* Гарнитура шрифта */
    src: url(fonts/MamaRegular.ttf); /* Путь к файлу со шрифтом */
    font-style: normal;
}

@font-face {
    font-family: Coiny 2.0; /* Гарнитура шрифта */
    src: url(fonts/Coiny2.0.ttf); /* Путь к файлу со шрифтом */
    font-style: normal;
}

h1 {
	font-family: Coiny 2.0;
	color: #9932CC;
	text-align: center;
	text-shadow: 2px 4px 10px;
	font-size: 50px;
}

h2 {
	margin-left: 50px;
	font-weight: bold;
	text-shadow: white 5px 8px 10px;
	font-size: 30px;
}


.mb0{
	background-color: #FFFF66;
	border-color: #CCCC00;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb1{
	background-color: #FF9900;
	border-color: #663300;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb2{
	background-color: #FF0000;
	border-color: #990000;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb3{
	background-color: #FF66CC;
	border-color: #990066;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb4{
	background-color: #3300FF;
	border-color: #000033;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb5{
	background-color: #33FFFF;
	border-color: #003333;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb6{
	background-color: #00FF00;
	border-color: #003300;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb7{
	background-color: #CC3300;
	border-color: #330000;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb8{
	background-color: darkgray;
	border-color: black;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.mb9{
	background-color: #660099;
	border-color: #330033;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	border-width: 10px;
	width: 150px;
	height: 150px;
}

.h_button{
	float: right; /* блок занимает ширину содержимого, max-width её ограничивает */
    max-width: 8em;
    min-height: 2em;
	background-color: grey;
	border-color: darkgray;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50px;
	user-select: none;
	font-family: sans-serif;
	font-size: 20px;
	font-style: bold;
	border-width: 5px;
	width: 50px;
	height: 50px;
}

body {
	color: black;
	align-items: left;
	margin: 10px;
}

table {
	table-layout: fixed;
    width:100%;
	margin: 5px;
}

td {
	word-wrap:break-word;
	text-align: center;
	padding: 5px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-shadow: black 2px 4px 10px;
}

@media screen and (max-width: 1033 px){
	#header{
		margin-left: 0;
	}
	#container{
		margin-left: 0; 
	}
	#footer{
		margin-left: 0;
	}
}


/* Style the tab */
.tab {
    overflow: hidden;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
