name: Deploy GitHub Pages with LFS

on:
  push:
    branches:
      - main 

permissions:
  contents: read
  pages: write
  id-token: write 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository with LFS
        uses: actions/checkout@v4
        with:
          repository: learn-funcode/prog4kids
          lfs: true 

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' 

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4